.notfound-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 97vh;
}
.notfound-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.notfound-home-btn{
     display: inline-block;
  background-color: #007bff; 
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}
.notfound-text{
    padding-left: 40px;
    text-align: center;
}
.notfound-text p{
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.notfound-home-btn-link{
    text-decoration: none;
    color: white;
}