.app-download-container {
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 20px;
  background-color: rgb(237, 242, 250);
}
.app-download-container img{
  width: 100%;
}

/* Tablet Styles */
@media (max-width: 1024px) {
  .app-download-container {
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .app-download-container {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 15px;
  }
}

@media (max-width: 480px) {
  .app-download-container {
    padding-left: 3%;
    padding-right: 3%;
  }
}