.scholarship-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
      background-color: #f0f4fb;
    padding: 40px 16% 40px 16%;
}
.scholarship-left{
    flex: 1;
    padding-right: 20px;
     align-items: flex-start;

}

.scholarship-image img{
    padding-top: 60px;
    width: 120%;
    height: auto;
    border-radius: 10px;
}
.Scholarship-add{
    background-color: white;
    padding: 30px 16% 30px 16%;
}
.Scholarship-add img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}