.More-container {
background-color: #edf3ff;
  padding-top: 130px;
  display: flex;
  padding-left: 18%;
  padding-right: 18%;
  padding-bottom: 60px;

  
}

.More-content {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
  
 
  
}
.More-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #1f1f1f;
}

.More-subheading {
  font-size: 2rem;
  font-weight: bold;
  color: #00b386;
}

.cursor-pipe {
  color: #ff8c42;
}

.More-description {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: #444;
}

.More-stats {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.More-stats div h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #1f1f1f;
}

.More-stats div p {
  color: #666;
  font-size: 1.2rem;
}
.More-curosal{
  margin-top: 40px;
 
}
.More-curosal img{
  width: 30vw;
  
}