.champion-container{
     padding-left: 18%;
    padding-right: 22%;
    padding-top: 20px;
    text-align: center;
    background-color: rgb(237, 242, 250);
}
.champion-container img{
    width: 110%;
}
.champion-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 40px;
}
.champion-content button{
    width: 45%;
    margin-left: 20px;
    height: 50px;
    border: none;
    border-radius: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(213, 232, 255);
    cursor: pointer;
    text-decoration: none;
    padding: 10px 20px;
}